@{
    ViewBag.Title = "İletişim";
}



<h3 class="text-primary"><b>İletişim Sayfası</b></h3>
<br />
<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <address class="accordion">
                <strong>Bilge Koleji<br /></strong><br />
                <span>
                    <b>Adres:</b> Caferağa Mah. Mühürdar Cad. No:76 Kadıköy / İSTANBUL
                </span><br />
                <b><u>İrtibat Numaralarımız:</u></b><br />
                0-212-555-55-55<br />
                0-212-555-56-55<br />
                0-212-555-57-55<br />
                0-212-555-58-55<br />
                0-212-555-59-55<br />
            </address>

            <address>
                <strong>Destek:</strong>   <a href="#">Name@bilgekoleji.com</a><br />
                <strong>Bilgilendirme:</strong> <a href="#">Name@bilgekoleji.com</a>
            </address>
            <p><i>Bizimle Mutlaka İletişime Geçin :-)</i></p>
        </div>
        <div class="col-lg-6">

            @*<img src="~/Content/images/download.png" width="150" height="150" />*@
            <img src="~/Content/Pic/school001.jpg" />
        </div>
    </div>
</div>




