@{
    ViewBag.Title = "AnaSayfa";
}

    <style>
        #baslik {
            text-align:center;
           margin-left:315px;
            text-decoration:wavy;
            
        }
    </style>
    <section>
        <div class="container"  >
            <div class="row">
                <span id="baslik"><h1 class="text-success">BİLGE KOLEJİNE HOŞGELDİNİZ</h1></span>
                
                <br />
            </div>
        </div>
    </section>
   

   
    <section class="panel panel-body">
        
        <div class="container">

            <div class="row">

                <div id="slider">
                    <div class="sliderleft"></div>
                    <div class="sliderright"></div>

                    <li>
                        <img src="~/Content/Pic/school001.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/Pic/school002.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/Pic/school003.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/Pic/school004.jpg" />

                    </li>


                </div>
                <div class="sliderbutton">

                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>

                </div>
            </div>
        </div>
    </section>






