
@model Ntier.BilgeSchool.Model.Entity.Student
@{
    ViewBag.Title = "CourseNotes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3 class="text-primary"><b>Öğrenci Ders Notları</b></h3>
<br />

@using (Html.BeginForm("GetStudentPoint", "StudentPoint", FormMethod.Post))
{
    <label>Öğrenci No :</label>
    @Html.EditorFor(x => x.StudentNumber)
    <input type="submit" value="Gönder" class="btn btn-primary" />

}





<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>